// Define variables for your color scheme

// For example:

// our colors :
$blue: #0C2556;
$green: #04C586;
$light-gray: #EFF4FB;



// boostrap :
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
