<%= render 'shared/flashes' %>
<%= render 'shared/navbar' %>

<div class="banner" style="background-image: linear-gradient(182deg, rgb(31,0,140),rgb(31,0,140))">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1> We help you to indentify <strong class="highlight">business opportunities</strong> out of <strong>conformity constraints</strong>.</h1>
        <p>Import, analyse, decide !</p>
        <a class="btn-flat" href="#">Discover</a>
      </div>
      <div class="col banner-img">
        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 763.056 458">
        <g id="undraw_Finance_re_gnv2" transform="translate(0)">
        <path id="Tracé_156" data-name="Tracé 156" d="M266.472,317a48,48,0,1,1,48-48,48,48,0,0,1-48,48Zm0-94a46,46,0,1,0,46,46,46,46,0,0,0-46-46Z" transform="translate(-218.472 -221)" fill="#f2f2f2"/>
        <path id="Tracé_157" data-name="Tracé 157" d="M592.472,289a24,24,0,1,1,24-24,24,24,0,0,1-24,24Zm0-46a22,22,0,1,0,22,22,22,22,0,0,0-22-22Z" transform="translate(-218.472 -221)" fill="#f2f2f2"/>
        <path id="Tracé_158" data-name="Tracé 158" d="M761.472,406a27,27,0,1,1,27-27,27,27,0,0,1-27,27Zm0-52a25,25,0,1,0,25,25A25,25,0,0,0,761.472,354Z" transform="translate(-218.472 -221)" fill="#f2f2f2"/>
        <path id="Tracé_159" data-name="Tracé 159" d="M980.528,679h-225a1,1,0,0,1,0-2h225a1,1,0,0,1,0,2Z" transform="translate(-218.472 -221)" fill="#ccc"/>
        <circle id="Ellipse_19" data-name="Ellipse 19" cx="24.561" cy="24.561" r="24.561" transform="translate(616.356 104.125)" fill="#ffb8b8"/>
        <path id="Tracé_160" data-name="Tracé 160" d="M643.465,420.343l-11.608,3.942-20.733-42.9,17.133-5.819Z" fill="#ffb8b8"/>
        <path id="Tracé_161" data-name="Tracé 161" d="M843.071,642.981h23.644v14.887h-38.53A14.887,14.887,0,0,1,843.071,642.981Z" transform="translate(-382.632 86.105) rotate(-18.76)" fill="#2f2e41"/>
        <path id="Tracé_162" data-name="Tracé 162" d="M669.694,444.575l-12.244.615-8.2-46.935,18.072-.909Z" fill="#ffb8b8"/>
        <path id="Tracé_163" data-name="Tracé 163" d="M867.368,662.9h23.644v14.887H852.481A14.887,14.887,0,0,1,867.368,662.9Z" transform="translate(-251.02 -176.398) rotate(-2.877)" fill="#2f2e41"/>
        <path id="Tracé_164" data-name="Tracé 164" d="M815.3,509.63a10.056,10.056,0,0,0-.468-15.412l11.674-33.774-17.992,4.6-8.327,31.368A10.11,10.11,0,0,0,815.3,509.63Z" transform="translate(-218.472 -221)" fill="#ffb8b8"/>
        <path id="Tracé_165" data-name="Tracé 165" d="M887.021,651.424a4.557,4.557,0,0,1-.474-.025l-16.621-1.76a4.472,4.472,0,0,1-4-3.974l-12.844-114.51L843.79,562.49l17.329,61.583a4.5,4.5,0,0,1-3.818,5.689L840.453,631.7a4.523,4.523,0,0,1-4.863-3.315l-18.409-69.3a4.483,4.483,0,0,1-.111-1.748l8.274-62.2,61.714,4.949,4.462,146.7a4.5,4.5,0,0,1-4.5,4.638Z" transform="translate(-218.472 -221)" fill="#2f2e41"/>
        <path id="Tracé_166" data-name="Tracé 166" d="M865.688,510.719c-20.676,0-44.084-7.989-45.5-8.479l-.41-.142L843.1,382.413l.429.018c9.244.375,34.469.567,34.723.569l.453,0,9.723,105.619,1.738,15.449-.213.172C884.006,509.052,875.132,510.719,865.688,510.719Z" transform="translate(-218.472 -221)" fill="#6c63ff"/>
        <path id="Tracé_167" data-name="Tracé 167" d="M828.336,500.375,813.747,494.5l7.436-89.944a14.857,14.857,0,0,1,6.474-11.1l7.677-5.225h0a4.869,4.869,0,0,1,4.827-6.24l2.2.071a2.5,2.5,0,0,1,3.827,2.661l-.483,9.529Z" transform="translate(-218.472 -221)" fill="#2f2e41"/>
        <path id="Tracé_168" data-name="Tracé 168" d="M820.974,484.251l-19.049-.8,6.171-39.692,5.113-37.349a8.924,8.924,0,0,1,11.578-7.846h0a8.917,8.917,0,0,1,6.174,9.647l-5.18,40.467Z" transform="translate(-218.472 -221)" fill="#2f2e41"/>
        <path id="Tracé_169" data-name="Tracé 169" d="M851.136,501.751l-.129-.4c-.088-.274-8.673-27.811,5.691-60.672l7.2-35.826,6.156-22.495a2.69,2.69,0,0,1,1.631-1.773,2.477,2.477,0,0,1,2.649.68h0a17.2,17.2,0,0,1,12.859,1.286l8.645,4.554a9.815,9.815,0,0,1,4.982,10.923l-11.815,50.423,5.744,47.1Z" transform="translate(-218.472 -221)" fill="#2f2e41"/>
        <path id="Tracé_170" data-name="Tracé 170" d="M863.716,482.338a10.056,10.056,0,0,0,11.118-10.684l26.756-19.821-9.353-4.434-28.851,14.862a10.11,10.11,0,0,0,.33,20.077Z" transform="translate(-218.472 -221)" fill="#ffb8b8"/>
        <path id="Tracé_171" data-name="Tracé 171" d="M880.491,473.465,871.454,456.6l22.287-14.668-10.876-39.01a11.8,11.8,0,0,1,9.029-14.731h0a11.827,11.827,0,0,1,13.5,7.764l14.675,43.135a4.5,4.5,0,0,1-1.512,5.013Z" transform="translate(-218.472 -221)" fill="#2f2e41"/>
        <path id="Tracé_172" data-name="Tracé 172" d="M861.127,354.895c-2.944.383-5.165-2.629-6.2-5.414s-1.815-6.027-4.375-7.531c-3.5-2.055-7.972.417-11.971-.261-4.516-.766-7.453-5.552-7.683-10.127s1.591-8.975,3.377-13.194l.624,5.242a10.4,10.4,0,0,1,4.543-9.087l-.8,7.692a8.164,8.164,0,0,1,9.392-6.756l-.127,4.583c5.216-.62,10.479-1.241,15.711-.769s10.5,2.128,14.466,5.574c5.932,5.154,8.1,13.641,7.371,21.465s-3.957,15.175-7.323,22.275c-.847,1.786-2.018,3.8-3.982,4.03-1.765.2-3.379-1.271-3.928-2.96a10.729,10.729,0,0,1,.048-5.271c.5-2.637,1.122-5.333.655-7.976s-2.368-5.254-5.032-5.578-5.39,2.721-4.109,5.079Z" transform="translate(-218.472 -221)" fill="#2f2e41"/>
        <path id="Tracé_173" data-name="Tracé 173" d="M539.781,624.577l-9.561-4.026-6.559-47.928h-87.34l-7.109,47.732-8.554,4.277a2.031,2.031,0,0,0,.908,3.848H538.994a2.031,2.031,0,0,0,.787-3.9Z" transform="translate(-218.472 -221)" fill="#e6e6e6"/>
        <path id="Tracé_174" data-name="Tracé 174" d="M694.991,579H265.953a8.5,8.5,0,0,1-8.481-8.5V510h446v60.5a8.5,8.5,0,0,1-8.481,8.5Z" transform="translate(-218.472 -221)" fill="#ccc"/>
        <path id="Tracé_175" data-name="Tracé 175" d="M703.92,538.594H257.08V279.727a10.258,10.258,0,0,1,10.247-10.247H693.673a10.259,10.259,0,0,1,10.247,10.247Z" transform="translate(-218.472 -221)" fill="#3f3d56"/>
        <path id="Tracé_176" data-name="Tracé 176" d="M677.232,519.8H283.768a7.908,7.908,0,0,1-7.9-7.9V296.168a7.909,7.909,0,0,1,7.9-7.9H677.232a7.909,7.909,0,0,1,7.9,7.9V511.9a7.908,7.908,0,0,1-7.9,7.9Z" transform="translate(-218.472 -221)" fill="#fff"/>
        <path id="Tracé_177" data-name="Tracé 177" d="M673.528,628.98h-381a1,1,0,1,1,0-2h381a1,1,0,0,1,0,2Z" transform="translate(-218.472 -221)" fill="#ccc"/>
        <path id="Tracé_178" data-name="Tracé 178" d="M640.268,493H320.732a1,1,0,0,1-1-1V338.847a1,1,0,0,1,2,0V491H640.267a1,1,0,0,1,0,2Z" transform="translate(-218.472 -221)" fill="#3f3d56"/>
        <path id="Tracé_179" data-name="Tracé 179" d="M389,482H359.94a2.972,2.972,0,0,1-2.969-2.968V438.968A2.972,2.972,0,0,1,359.94,436H389a2.972,2.972,0,0,1,2.968,2.968v40.064A2.972,2.972,0,0,1,389,482Z" transform="translate(-218.472 -221)" fill="#04c586"/>
        <path id="Tracé_180" data-name="Tracé 180" d="M442,482H412.94a2.972,2.972,0,0,1-2.969-2.968V400.968A2.972,2.972,0,0,1,412.94,398H442a2.972,2.972,0,0,1,2.969,2.968v78.064A2.972,2.972,0,0,1,442,482Z" transform="translate(-218.472 -221)" fill="#6c63ff"/>
        <path id="Tracé_181" data-name="Tracé 181" d="M495,482H465.94a2.972,2.972,0,0,1-2.969-2.968V438.968A2.972,2.972,0,0,1,465.94,436H495a2.972,2.972,0,0,1,2.969,2.968v40.064A2.972,2.972,0,0,1,495,482Z" transform="translate(-218.472 -221)" fill="#04c586"/>
        <path id="Tracé_182" data-name="Tracé 182" d="M548,482H518.94a2.907,2.907,0,0,1-2.968-2.834V385.834A2.907,2.907,0,0,1,518.94,383H548a2.907,2.907,0,0,1,2.969,2.834v93.332A2.907,2.907,0,0,1,548,482Z" transform="translate(-218.472 -221)" fill="#6c63ff"/>
        <path id="Tracé_183" data-name="Tracé 183" d="M601,482H571.94a2.972,2.972,0,0,1-2.969-2.968V358.968A2.972,2.972,0,0,1,571.94,356H601a2.972,2.972,0,0,1,2.969,2.968V479.032A2.972,2.972,0,0,1,601,482Z" transform="translate(-218.472 -221)" fill="#04c586"/>
        <circle id="Ellipse_20" data-name="Ellipse 20" cx="6" cy="6" r="6" transform="translate(150 191)" fill="#3f3d56"/>
        <circle id="Ellipse_21" data-name="Ellipse 21" cx="6" cy="6" r="6" transform="translate(203 152)" fill="#3f3d56"/>
        <circle id="Ellipse_22" data-name="Ellipse 22" cx="6" cy="6" r="6" transform="translate(256 191)" fill="#3f3d56"/>
        <circle id="Ellipse_23" data-name="Ellipse 23" cx="6" cy="6" r="6" transform="translate(309 133)" fill="#3f3d56"/>
        <circle id="Ellipse_24" data-name="Ellipse 24" cx="6" cy="6" r="6" transform="translate(362 111)" fill="#3f3d56"/>
        <path id="Tracé_184" data-name="Tracé 184" d="M262.126,198.344,209,158.552,156.6,197.8l-1.2-1.6L209,156.053l52.874,39.6,52.541-57.5.211-.086,53-21.354.748,1.855-52.789,21.269Z" fill="#3f3d56"/>
        </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="title">
  <h1>Why decidesk ?</h1>
</div>

<div class="container mb-5">
  <div class="row align-items-center mb-5">
    <div class="col-3">
      <div class="text-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 942.544 631.44">
        <g id="undraw_Data_trends_re_2cdy" transform="translate(0 0.001)">
        <path id="Tracé_1" data-name="Tracé 1" d="M879.59,413.72l2.8-22.427a30.285,30.285,0,0,1,60.1,7.5l-2.8,22.427a4. 073,4.073,0,0,1-4.54,3.533l-52.03-6.491a4.073,4.073,0,0,1-3.533-4.54Z" transform="translate(-128.726 -134.28)"  fill="#2f2e41"/>
        <circle id="Ellipse_1" data-name="Ellipse 1" cx="22.204" cy="22.204" r="22.204" transform="translate(753.582 241.723)" fill="#ffb8b8"/>
        <path id="Tracé_2" data-name="Tracé 2" d="M875.055,392.2a23.984,23.984,0,0,1,26.738-20.806l4.486.56a23.983,23.983,0,0,1,20.806,26.738l-.056.449-9.479-1.183-2.1-9.456-1.776,8.972-4.9-.611-1.061-4.771-.9,4.527L875,392.649Z" transform="translate(-128.726 -134.28)" fill="#2f2e41"/>
        <path id="Tracé_3" data-name="Tracé 3" d="M795.916,477.411a10.228,10.228,0,0,0,15.284,3.515l20.167,11.814,10.168-10.5-28.714-16.283a10.283,10.283,0,0,0-16.905,11.459Z" transform="translate(-128.726 -134.28)" fill="#ffb8b8"/>
        <path id="Tracé_4" data-name="Tracé 4" d="M862.013,498.639c-14.875,0-41.052-6.659-42.5-7.031l-.458-.117,4.12-20.859,39.982,7.9,21.721-30.587,24.937-2.535-.7.916c-.324.427-32.47,42.743-37.472,49.842C870.382,497.956,866.776,498.639,862.013,498.639Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_5" data-name="Tracé 5" d="M866,576.927l-.6-.284c-.127-.061-12.765-6.208-19.311-18.209-6.515-11.944,23.983-62.612,26.117-66.128l.031-16.091,10.971-29.62,13.992-7.908-12.013,28.029Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_6" data-name="Tracé 6" d="M723.257,615.591H709.885l-6.362-51.579h19.736Z" fill="#ffb8b8"/>
        <path id="Tracé_7" data-name="Tracé 7" d="M855.393,762.833l-43.118,0v-.545A16.783,16.783,0,0,1,829.056,745.5h26.338Z" transform="translate(-128.726 -134.28)" fill="#2f2e41"/>
        <path id="Tracé_8" data-name="Tracé 8" d="M866.891,603.872l-12.707,4.163L832.077,561l18.755-6.145Z" fill="#ffb8b8"/>
        <path id="Tracé_9" data-name="Tracé 9" d="M1002.89,749.408l-40.97,13.425-.17-.518a16.784,16.784,0,0,1,10.722-21.174h0l25.026-8.2Z" transform="translate(-128.726 -134.28)" fill="#2f2e41"/>
        <path id="Tracé_10" data-name="Tracé 10" d="M969.726,729.72l-38.12-63.641-32.18-67.993-28.958,60.06-11.5,77.788-40.343.561.159-.631,61.737-245.311,48.352,7.224-2.2,31.916,1.311,1.864c10.923,15.517,22.216,31.56,15.739,48.854l18.362,54.523,40.646,90.786Z" transform="translate(-128.726 -134.28)" fill="#2f2e41"/>
        <path id="Tracé_11" data-name="Tracé 11" d="M882.726,543.72c-7.006,0-15-8-10.853-21.658l-.269-.194,9.961-44.008c-8.693-12.432,2.768-22.691,3.842-23.608l5.471-9.847L915.016,429.1,927.229,530.57l-.181.173C918.228,539.182,888.6,543.72,882.726,543.72Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_12" data-name="Tracé 12" d="M932.159,566.617a11.88,11.88,0,0,1-2.851-.3c-.939-.235-2.458-1.431-4.807-9.077-9.336-30.4-20.359-121.86-12.351-130.811l.183-.205,13.149,2.191c1.093-.807,6.829-4.811,12.121-4.114a8.033,8.033,0,0,1,5.5,3.249l.091.119,4.189,59.594,15.346,70.131-.368.167C961.466,557.966,942.3,566.617,932.159,566.617Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_13" data-name="Tracé 13" d="M923.317,543.324a10.228,10.228,0,0,0,9.662-12.353l19.249-13.258-5.2-13.662-26.92,19.1a10.283,10.283,0,0,0,3.212,20.169Z" transform="translate(-128.726 -134.28)" fill="#ffb8b8"/>
        <path id="Tracé_14" data-name="Tracé 14" d="M945.876,528.337,928.73,515.764l24.1-32.864-18.5-32.639,8.275-23.661.535,1.019c.249.475,24.948,47.527,29.257,55.067,4.483,7.844-24.97,43.761-26.226,45.285Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_15" data-name="Tracé 15" d="M560.206,676.255l-14.592-6.144L535.6,596.959H402.3l-10.85,72.853-13.055,6.527a3.1,3.1,0,0,0,1.387,5.873H559a3.1,3.1,0,0,0,1.2-5.957Z" transform="translate(-128.726 -134.28)" fill="#e6e6e6"/>
        <path id="Tracé_16" data-name="Tracé 16" d="M797.1,606.692H142.268a12.973,12.973,0,0,1-12.944-12.973v-92.34H810.042v92.34A12.974,12.974,0,0,1,797.1,606.692Z" transform="translate(-128.726 -134.28)" fill="#ccc"/>
        <path id="Tracé_17" data-name="Tracé 17" d="M810.726,545.021h-682V149.92a15.657,15.657,0,0,1,15.64-15.64H795.087a15.657,15.657,0,0,1,15.64,15.639Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_18" data-name="Tracé 18" d="M769.993,516.344H169.46A12.07,12.07,0,0,1,157.4,504.287V175.013a12.071,12.071,0,0,1,12.057-12.057H769.993a12.071,12.071,0,0,1,12.057,12.057V504.287A12.07,12.07,0,0,1,769.993,516.344Z" transform="translate(-128.726 -134.28)" fill="#fff"/>
        <path id="Tracé_19" data-name="Tracé 19" d="M638.146,682.975H300.7a1.567,1.567,0,0,1-1.539-1.134,1.529,1.529,0,0,1,1.477-1.919H638.021a1.615,1.615,0,0,1,1.616,1.194,1.528,1.528,0,0,1-1.491,1.859Z" transform="translate(-128.726 -134.28)" fill="#ccc"/>
        <rect id="Rectangle_1" data-name="Rectangle 1" width="144.996" height="110.773" transform="translate(489.86 81.909)" fill="#f2f2f2"/>
        <rect id="Rectangle_2" data-name="Rectangle 2" width="130.586" height="99.765" transform="translate(497.065 87.414)" fill="#fff"/>
        <path id="Tracé_20" data-name="Tracé 20" d="M693.377,295.7h.052a34.817,34.817,0,0,0,.779-69.489.794.794,0,0,0-.6.208.786.786,0,0,0-.257.576l-.761,67.9a.8.8,0,0,0,.788.8Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_21" data-name="Tracé 21" d="M666.072,237.433a1.025,1.025,0,0,1,.72.307l23.376,23.906a1.014,1.014,0,0,1,.291.725l-.364,32.491a1.011,1.011,0,0,1-.33.74,1.026,1.026,0,0,1-.771.268,35.044,35.044,0,0,1-23.7-58.091,1.027,1.027,0,0,1,.741-.347Z" transform="translate(-128.726 -134.28)" fill="#e6e6e6"/>
        <path id="Tracé_22" data-name="Tracé 22" d="M689.842,225.927a1.029,1.029,0,0,1,.7.286,1.011,1.011,0,0,1,.314.748l-.329,29.316a1.021,1.021,0,0,1-1.75.7l-20.4-20.861a1.023,1.023,0,0,1,.055-1.482,35.118,35.118,0,0,1,21.346-8.708Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_23" data-name="Tracé 23" d="M679.334,309.775a6.253,6.253,0,1,1-6.183-6.323,6.253,6.253,0,0,1,6.183,6.323Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_24" data-name="Tracé 24" d="M697.2,309.976a6.253,6.253,0,1,1-6.183-6.323A6.253,6.253,0,0,1,697.2,309.976Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_25" data-name="Tracé 25" d="M715.065,310.176a6.253,6.253,0,1,1-6.183-6.323A6.253,6.253,0,0,1,715.065,310.176Z" transform="translate(-128.726 -134.28)" fill="#e6e6e6"/>
        <rect id="Rectangle_3" data-name="Rectangle 3" width="144.996" height="110.773" transform="translate(488.333 210.116)" fill="#f2f2f2"/>
        <rect id="Rectangle_4" data-name="Rectangle 4" width="130.586" height="99.765" transform="translate(495.538 215.621)" fill="#fff"/>
        <circle id="Ellipse_2" data-name="Ellipse 2" cx="5.422" cy="5.422" r="5.422" transform="translate(512.273 237.566)" fill="#3f3d56"/>
        <path id="Tracé_26" data-name="Tracé 26" d="M733.539,373.049a3.677,3.677,0,0,1,0,7.354H676.513a3.677,3.677,0,0,1,0-7.354h57.026m0-.9H676.513a4.578,4.578,0,1,0,0,9.155h57.026a4.578,4.578,0,1,0,0-9.155Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_27" data-name="Tracé 27" d="M711.038,381.3H668.11a4.578,4.578,0,0,1,0-9.155h42.928a4.578,4.578,0,0,1,0,9.155Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <circle id="Ellipse_3" data-name="Ellipse 3" cx="5.422" cy="5.422" r="5.422" transform="translate(512.273 260.081)" fill="#3f3d56"/>
        <path id="Tracé_28" data-name="Tracé 28" d="M733.539,395.564a3.677,3.677,0,0,1,0,7.354H676.513a3.677,3.677,0,0,1,0-7.354h57.026m0-.9H676.513a4.578,4.578,0,0,0,0,9.155h57.026a4.578,4.578,0,1,0,0-9.155Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_29" data-name="Tracé 29" d="M727.248,403.819H668.109a4.578,4.578,0,0,1,0-9.155h59.139a4.578,4.578,0,0,1,0,9.155Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <circle id="Ellipse_4" data-name="Ellipse 4" cx="5.422" cy="5.422" r="5.422" transform="translate(512.273 282.596)" fill="#3f3d56"/>
        <path id="Tracé_30" data-name="Tracé 30" d="M733.539,418.079a3.677,3.677,0,0,1,0,7.354H676.513a3.677,3.677,0,0,1,0-7.354h57.026m0-.9H676.513a4.578,4.578,0,0,0,0,9.155h57.026a4.578,4.578,0,1,0,0-9.155Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_31" data-name="Tracé 31" d="M692.125,426.334H668.109a4.578,4.578,0,0,1,0-9.155h24.016a4.578,4.578,0,0,1,0,9.155Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="405.093" height="207.61" transform="translate(51.188 101.508)" fill="#f2f2f2"/>
        <rect id="Rectangle_6" data-name="Rectangle 6" width="378.087" height="186.978" transform="translate(64.691 111.824)" fill="#fff"/>
        <path id="Tracé_32" data-name="Tracé 32" d="M524.614,404.557H249a.863.863,0,0,1-.863-.863v-132.1a.863.863,0,0,1,1.725,0V402.832H524.614a.863.863,0,0,1,0,1.725Z" transform="translate(-128.726 -134.28)" fill="#3f3d56"/>
        <path id="Tracé_33" data-name="Tracé 33" d="M307.884,395.069H282.815a2.563,2.563,0,0,1-2.561-2.56V357.952a2.563,2.563,0,0,1,2.56-2.56h25.069a2.563,2.563,0,0,1,2.56,2.56v34.557a2.563,2.563,0,0,1-2.56,2.56Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_34" data-name="Tracé 34" d="M353.6,395.069H328.531a2.563,2.563,0,0,1-2.561-2.56V325.174a2.563,2.563,0,0,1,2.56-2.56H353.6a2.563,2.563,0,0,1,2.561,2.56v67.334a2.563,2.563,0,0,1-2.561,2.561Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_35" data-name="Tracé 35" d="M399.315,395.069H374.246a2.563,2.563,0,0,1-2.561-2.56V357.952a2.563,2.563,0,0,1,2.561-2.56h25.069a2.563,2.563,0,0,1,2.561,2.56v34.557a2.563,2.563,0,0,1-2.56,2.56Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_36" data-name="Tracé 36" d="M445.031,395.069H419.962a2.507,2.507,0,0,1-2.561-2.444v-80.5a2.507,2.507,0,0,1,2.561-2.444h25.069a2.507,2.507,0,0,1,2.561,2.444v80.5A2.507,2.507,0,0,1,445.031,395.069Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <path id="Tracé_37" data-name="Tracé 37" d="M490.746,395.069H465.678a2.563,2.563,0,0,1-2.561-2.56V288.947a2.563,2.563,0,0,1,2.56-2.56h25.068a2.563,2.563,0,0,1,2.561,2.56V392.509a2.563,2.563,0,0,1-2.561,2.56Z" transform="translate(-128.726 -134.28)" fill="#6c63ff"/>
        <circle id="Ellipse_5" data-name="Ellipse 5" cx="5.175" cy="5.175" r="5.175" transform="translate(161.448 200.41)" fill="#3f3d56"/>
        <circle id="Ellipse_6" data-name="Ellipse 6" cx="5.175" cy="5.175" r="5.175" transform="translate(207.164 166.77)" fill="#3f3d56"/>
        <circle id="Ellipse_7" data-name="Ellipse 7" cx="5.175" cy="5.175" r="5.175" transform="translate(252.879 200.41)" fill="#3f3d56"/>
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="5.175" cy="5.175" r="5.175" transform="translate(298.595 150.381)" fill="#3f3d56"/>
        <circle id="Ellipse_9" data-name="Ellipse 9" cx="5.175" cy="5.175" r="5.175" transform="translate(344.311 131.405)" fill="#3f3d56"/>
        <path id="Tracé_38" data-name="Tracé 38" d="M258.163,206.744l-45.824-34.323-45.2,33.854-1.034-1.38,46.233-34.63,45.606,34.16,45.321-49.6.181-.074,45.716-18.419.645,1.6-45.534,18.346Z" fill="#3f3d56"/>
        <path id="Tracé_39" data-name="Tracé 39" d="M1070.27,765.72h-381a1,1,0,0,1,0-2h381a1,1,0,0,1,0,2Z" transform="translate(-128.726 -134.28)" fill="#ccc"/></g></svg>
      </div>
      <div class="text-center mt-5"><h5>Keep <strong class="highlight">control</strong> of your finance in just a few clicks</h5></div>
    </div>

    <div class="col-3">
      <div class="text-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 824.812 438.316">
        <g id="undraw_Account_re_o7id" transform="translate(0 0)">
        <path id="Path_141" data-name="Path 141" d="M1007.07,668.026H547.8a5.345,5.345,0,0,1-5.338-5.338V236.18a5.345,5.345,0,0,1,5.338-5.338H1007.07a5.345,5.345,0,0,1,5.338,5.338V662.687a5.344,5.344,0,0,1-5.338,5.338ZM547.8,232.973a3.207,3.207,0,0,0-3.2,3.2V662.687a3.207,3.207,0,0,0,3.2,3.2H1007.07a3.206,3.206,0,0,0,3.2-3.2V236.18a3.207,3.207,0,0,0-3.2-3.2Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_142" data-name="Path 142" d="M764.811,341.671a3.624,3.624,0,1,0,0,7.248H963.667a3.624,3.624,0,1,0,0-7.248Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_143" data-name="Path 143" d="M764.811,363.417a3.624,3.624,0,1,0,0,7.248h101.52a3.624,3.624,0,1,0,0-7.248Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_142-2" data-name="Path 142" d="M591,468.671a3.624,3.624,0,1,0,0,7.248H963.86a3.624,3.624,0,0,0,0-7.248Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_143-2" data-name="Path 143" d="M591,490.417a3.624,3.624,0,1,0,0,7.248h275.52a3.624,3.624,0,1,0,0-7.248Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_142-3" data-name="Path 142" d="M591,511.671a3.624,3.624,0,1,0,0,7.248H963.86a3.624,3.624,0,1,0,0-7.248Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_143-3" data-name="Path 143" d="M591,533.417a3.624,3.624,0,1,0,0,7.248h275.52a3.624,3.624,0,0,0,0-7.248Z" transform="translate(-187.596 -230.842)" fill="#e6e6e6"/>
        <path id="Path_154" data-name="Path 154" d="M714.555,418.025H426.287a5.344,5.344,0,0,1-5.338-5.338V286.18a5.344,5.344,0,0,1,5.338-5.338H714.555a5.344,5.344,0,0,1,5.338,5.338V412.687A5.344,5.344,0,0,1,714.555,418.025Z" transform="translate(-187.596 -230.842)" fill="#6c63ff"/>
        <path id="Path_154-2" data-name="Path 154" d="M961.555,618.025H852.287a5.344,5.344,0,0,1-5.338-5.338V595.18a5.344,5.344,0,0,1,5.338-5.338H961.555a5.344,5.344,0,0,1,5.338,5.338v17.507A5.344,5.344,0,0,1,961.555,618.025Z" transform="translate(-187.596 -230.842)" fill="#6c63ff"/>
        <path id="Tracé_1" data-name="Tracé 1" d="M314.032,444.951c-4.709-3.515-6.091-10.084-3.087-14.672a9.162,9.162,0,0,1,1.009-1.261l.3-93.46,13.892,2.594.61,91.92c3.165,3.671,3.8,9.022,1.241,12.937C324.994,447.6,318.741,448.466,314.032,444.951Z" transform="translate(-187.596 -230.842)" fill="#ffb8b8"/>
        <path id="Tracé_2" data-name="Tracé 2" d="M198.683,423.3h14.322l6.814-55.242H198.681Z" fill="#ffb8b8"/>
        <path id="Tracé_3" data-name="Tracé 3" d="M382.626,649.467h28.207a17.975,17.975,0,0,1,17.975,17.973v.585l-46.181,0Z" transform="translate(-187.596 -230.842)" fill="#2f2e41"/>
        <path id="Tracé_4" data-name="Tracé 4" d="M65.506,423.3H79.829l6.813-55.242H65.5Z" fill="#ffb8b8"/>
        <path id="Tracé_5" data-name="Tracé 5" d="M249.449,649.467h28.207a17.975,17.975,0,0,1,17.975,17.973v.585l-46.18,0Z" transform="translate(-187.596 -230.842)" fill="#2f2e41"/>
        <path id="Tracé_6" data-name="Tracé 6" d="M385.443,638.713l-1.2-7.2a5.71,5.71,0,0,1-2.969-2.383c-1.289-2.037-1.494-4.9-.611-8.521L371,539l-50.451-52.344L288.184,564.72l-12.812,61.775v8.925L249.791,638.7l1.164-8.413a4.9,4.9,0,0,1-2.323-2.07c-1.47-2.446-1.45-6.238.06-11.268l.065-.218-.083-.751C248.615,615.459,249,565,264,540l15.023-75.9c-.39-1.069-2.316-7.292,1.216-17.809,3.486-10.378,13.236-27.1,39.887-47.811l.092-.071.114-.024c.3-.061,29.689-5.9,44.891,13.975l.1.134v.169c0,1.229-.026,29.83-2.288,36.176l36.073,66.328c.7.744,7.009,8.027,4.769,27.174l5.827,65.268c.667,1.273,6.7,13.261.051,18.006l1.192,8.241Z" transform="translate(-187.596 -230.842)" fill="#2f2e41"/>
        <path id="Tracé_7" data-name="Tracé 7" d="M325.1,364.441c-6.773,0-15.774-2.394-21.284-13.429l-.108-.217,13.574-28.774a15.776,15.776,0,0,1,28.828,12.805L334.371,362.96l-.2.076A29.346,29.346,0,0,1,325.1,364.441Z" transform="translate(-187.596 -230.842)" fill="#6c63ff"/>
        <path id="Tracé_8" data-name="Tracé 8" d="M362.7,421.49l-42.792-20.207,5.882-71.762,10.724-13.107,2.077-.445a54.681,54.681,0,0,1,28.73,1.591l.2.068,17.614,37.577c.111.188,12.813,22.615-4.747,34.439Z" transform="translate(-187.596 -230.842)" fill="#6c63ff"/>
        <path id="Tracé_9" data-name="Tracé 9" d="M421.527,398.62a10.517,10.517,0,0,0-1.475.756L374.96,378.749,373.8,366.759l-18.324-.619-.015,21.426a8,8,0,0,0,5.755,7.683l54.148,15.825a10.5,10.5,0,1,0,6.16-12.454Z" transform="translate(-187.596 -230.842)" fill="#ffb8b8"/>
        <path id="Tracé_10" data-name="Tracé 10" d="M366.371,371.876c-5.138,0-10.937-1.777-16.5-7.343l-.172-.171,3.761-31.592a15.776,15.776,0,0,1,31.4,3.014l-2.22,30.4-.17.136C382.358,366.409,375.382,371.876,366.371,371.876Z" transform="translate(-187.596 -230.842)" fill="#6c63ff"/>
        <circle id="Ellipse_1" data-name="Ellipse 1" cx="28.693" cy="28.693" r="28.693" transform="translate(128.408 58.227) rotate(-61.337)" fill="#ffb8b8"/>
        <path id="Tracé_11" data-name="Tracé 11" d="M384.147,262.451c-1.424-8.281-8.071-15.146-15.99-17.954s-16.85-1.9-24.6,1.339a40.852,40.852,0,0,0-3.783,1.819c-2.834-5.4-9.784-8.536-16.14-8.2-7.679.409-14.613,4.471-21.282,8.3s-13.825,7.639-21.513,7.461c-13.893-.322-24.229-13.2-37.588-17.03a30.061,30.061,0,0,0-33.083,45.881c5.7-10.215,19.086-13.665,30.7-12.275s22.44,6.482,33.819,9.194,24.558,2.6,33.372-5.1c5-4.362,7.936-10.6,12.288-15.606,2.944-3.388,7.136-6.248,11.418-6.921a34.654,34.654,0,0,0-9.378,13.911c-3.434,9.757-1.6,21.472,5.526,28.971,7.637,8.04,19.624,10.183,30.712,10.053l.232-.236c-3.395-5.082-6.074-12.128-2.336-16.963,3.69-4.773,10.967-4.07,16.618-6.182C381.005,279.978,385.57,270.732,384.147,262.451Z" transform="translate(-187.596 -230.842)" fill="#2f2e41"/>
        <path id="Tracé_12" data-name="Tracé 12" d="M461.6,669.158h-273a1,1,0,1,1,0-2h273a1,1,0,0,1,0,2Z" transform="translate(-187.596 -230.842)" fill="#ccc"/>
        <path id="Path_155" data-name="Path 155" d="M557.486,325.212c-1.252,0-2.265,1.63-2.262,3.631s1.014,3.613,2.262,3.617h106.87c1.252,0,2.265-1.63,2.262-3.631s-1.014-3.613-2.262-3.617Z" transform="translate(-187.596 -230.842)" fill="#fff"/>
        <path id="Path_156" data-name="Path 156" d="M557.486,346.212c-1.252,0-2.265,1.63-2.262,3.631s1.014,3.613,2.262,3.617h106.87c1.252,0,2.265-1.63,2.262-3.631s-1.014-3.613-2.262-3.617Z" transform="translate(-187.596 -230.842)" fill="#fff"/>
        <path id="Path_157" data-name="Path 157" d="M557.486,366.958c-1.252,0-2.265,1.63-2.262,3.631s1.014,3.613,2.262,3.617h45.986c1.252,0,2.265-1.63,2.262-3.631s-1.014-3.613-2.262-3.617Z" transform="translate(-187.596 -230.842)" fill="#fff"/>
        <circle id="Ellipse_2" data-name="Ellipse 2" cx="29" cy="29" r="29" transform="translate(286.628 89.592)" fill="#fff"/></g></svg>

      </div>
      <div class="text-center mt-5"><h5><strong class="highlight">Focus</strong> on what matters</h5></div>
    </div>

    <div class="col-3">
      <div class="text-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 995 697.682">
        <g id="undraw_Data_re_80ws" transform="translate(0 0)">
        <path id="Tracé_13" data-name="Tracé 13" d="M915.189,538.707H274.35a16.519,16.519,0,0,1-16.5-16.5V127.054a12.1,12.1,0,0,1,12.088-12.089H919.391a12.311,12.311,0,0,1,12.3,12.3V522.207A16.519,16.519,0,0,1,915.189,538.707Z" transform="translate(-102.5 -101.159)" fill="#f2f2f2"/>
        <path id="Tracé_14" data-name="Tracé 14" d="M891.811,515.341H294.567c-8.755,0-15.878-6.67-15.878-14.868V156.368c0-6.08,5.278-11.027,11.766-11.027H895.728c6.6,0,11.961,5.028,11.961,11.208V500.472C907.689,508.671,900.566,515.341,891.811,515.341Z" transform="translate(-102.5 -101.159)" fill="#fff"/>
        <path id="Tracé_15" data-name="Tracé 15" d="M931.459,126.11H257.618v-8.4a16.574,16.574,0,0,1,16.56-16.55H914.9a16.574,16.574,0,0,1,16.56,16.55Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <circle id="Ellipse_3" data-name="Ellipse 3" cx="4.283" cy="4.283" r="4.283" transform="translate(180.931 8.217)" fill="#fff"/>
        <circle id="Ellipse_4" data-name="Ellipse 4" cx="4.283" cy="4.283" r="4.283" transform="translate(197.19 8.217)" fill="#fff"/>
        <circle id="Ellipse_5" data-name="Ellipse 5" cx="4.283" cy="4.283" r="4.283" transform="translate(213.448 8.217)" fill="#fff"/>
        <path id="Tracé_16" data-name="Tracé 16" d="M826.073,457.629H363.234a17.52,17.52,0,0,1-17.5-17.5V216.975a13.1,13.1,0,0,1,13.088-13.088H830.276a13.312,13.312,0,0,1,13.3,13.3V440.129a17.52,17.52,0,0,1-17.5,17.5ZM358.822,205.886a11.1,11.1,0,0,0-11.088,11.088V440.129a15.518,15.518,0,0,0,15.5,15.5H826.073a15.518,15.518,0,0,0,15.5-15.5V217.184a11.31,11.31,0,0,0-11.3-11.3Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_17" data-name="Tracé 17" d="M379.234,440.129H810.073a16,16,0,0,0,16-16V237.581a16,16,0,0,0-16-16H379.234a16,16,0,0,0-16,16V424.129A16,16,0,0,0,379.234,440.129Z" transform="translate(-102.5 -101.159)" fill="#f2f2f2"/>
        <circle id="Ellipse_6" data-name="Ellipse 6" cx="9" cy="9" r="9" transform="translate(316.654 156.695)" fill="#ccc"/>
        <circle id="Ellipse_7" data-name="Ellipse 7" cx="9" cy="9" r="9" transform="translate(316.654 190.695)" fill="#ccc"/>
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="9" cy="9" r="9" transform="translate(316.654 224.695)" fill="#ccc"/>
        <circle id="Ellipse_9" data-name="Ellipse 9" cx="9" cy="9" r="9" transform="translate(316.654 258.695)" fill="#ccc"/>
        <path id="Tracé_18" data-name="Tracé 18" d="M769.154,267.855h-296a1,1,0,1,1,0-2h296a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_19" data-name="Tracé 19" d="M769.154,301.855h-296a1,1,0,1,1,0-2h296a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_20" data-name="Tracé 20" d="M769.154,335.855h-296a1,1,0,1,1,0-2h296a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_21" data-name="Tracé 21" d="M769.154,369.855h-296a1,1,0,1,1,0-2h296a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_22" data-name="Tracé 22" d="M529.154,403.855h-29a5.006,5.006,0,0,1-5-5v-27a5.006,5.006,0,0,1,5-5h29a5.006,5.006,0,0,1,5,5v27a5.006,5.006,0,0,1-5,5Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_23" data-name="Tracé 23" d="M594.154,403.855h-29a5.006,5.006,0,0,1-5-5v-61a5.006,5.006,0,0,1,5-5h29a5.006,5.006,0,0,1,5,5v61A5.006,5.006,0,0,1,594.154,403.855Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_24" data-name="Tracé 24" d="M660.154,403.855h-29a5.006,5.006,0,0,1-5-5v-95a5.006,5.006,0,0,1,5-5h29a5.006,5.006,0,0,1,5,5v95a5.006,5.006,0,0,1-5,5Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_25" data-name="Tracé 25" d="M728.154,403.855h-29a5.006,5.006,0,0,1-5-5v-128a5.006,5.006,0,0,1,5-5h29a5.006,5.006,0,0,1,5,5v128a5.006,5.006,0,0,1-5,5Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_26" data-name="Tracé 26" d="M769.154,403.855h-296a1,1,0,1,1,0-2h296a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_27" data-name="Tracé 27" d="M899.2,590.4a10.056,10.056,0,0,1,15.32-1.743l31.755-16.389L944.3,590.734,914.45,603.467A10.11,10.11,0,0,1,899.2,590.4Z" transform="translate(-102.5 -101.159)" fill="#ffb8b8"/>
        <path id="Tracé_28" data-name="Tracé 28" d="M926.524,597.289A4.5,4.5,0,0,1,925,595.078l-2.526-8.159A4.515,4.515,0,0,1,924.062,582l25.738-19.44,27.875-51.712a14.5,14.5,0,1,1,22.9,17.782L984.716,562.1a46.374,46.374,0,0,1-23.463,22.7L931.09,597.875a4.505,4.505,0,0,1-3.669-.039,4.454,4.454,0,0,1-.9-.547Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <circle id="Ellipse_10" data-name="Ellipse 10" cx="24.561" cy="24.561" r="24.561" transform="translate(874.214 338.98)" fill="#ffb8b8"/>
        <path id="Tracé_29" data-name="Tracé 29" d="M888.812,685.737H876.553l-5.831-47.288h18.1Z" fill="#ffb8b8"/>
        <path id="Tracé_30" data-name="Tracé 30" d="M867.795,682.233h23.644V697.12H852.908A14.887,14.887,0,0,1,867.795,682.233Z" fill="#2f2e41"/>
        <path id="Tracé_31" data-name="Tracé 31" d="M928.812,685.739H916.553l-5.831-47.289,18.1,0Z" fill="#ffb8b8"/>
        <path id="Tracé_32" data-name="Tracé 32" d="M907.795,682.234h23.644v14.887H892.908a14.887,14.887,0,0,1,14.887-14.887Z" fill="#2f2e41"/>
        <path id="Tracé_33" data-name="Tracé 33" d="M1032.21,774.9h-14.367a4.508,4.508,0,0,1-4.345-3.329l-20.68-76.7a.5.5,0,0,0-.982.16l4.177,72.742a4.5,4.5,0,0,1-4.867,4.742L975,771.166a4.512,4.512,0,0,1-4.1-3.964L956.191,614.457l5.691,3.415,53.329-9.054L1036.67,769.8a4.5,4.5,0,0,1-4.461,5.095Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_34" data-name="Tracé 34" d="M974.027,630.579a32.939,32.939,0,0,1-16.692-4.7,4.48,4.48,0,0,1-2.136-4.589c1.876-11.486,11.684-70.408,20.608-102.529,3.635-13.083,11.671-20.129,23.887-20.943,17.868-1.172,33.75,12.807,35.4,31.2,2.917,32.448-8.933,78.55-14.164,96.866a4.5,4.5,0,0,1-7.088,2.306l-10.661-8.293a3.533,3.533,0,0,0-4.516.188C989.682,628.1,981.146,630.579,974.027,630.579Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_35" data-name="Tracé 35" d="M906.787,443.738l9,38-13,32,9-31Z" opacity="0.2"/>
        <path id="Tracé_36" data-name="Tracé 36" d="M1015.29,484.9a16.539,16.539,0,0,0,6.388-1.155c.894-.345,1.822-.628,2.715-.972,7.882-3.045,13.074-11.439,13.26-19.886s-4.188-16.647-10.684-22.05-14.909-8.178-23.335-8.82c-9.075-.691-19.294,1.61-24.366,9.167-1.35,2.012-2.294,4.452-1.494,6.882a4.4,4.4,0,0,0,1.241,1.906c2.265,2.015,4.523.5,6.831.366,3.173-.184,6.023,2.385,7.047,5.394s.573,6.322-.254,9.391a23.464,23.464,0,0,0-1.183,5.71,5.74,5.74,0,0,0,2.378,5.055c1.983,1.2,4.587.505,6.571-.691s3.7-2.86,5.842-3.741,5.022-.685,6.27,1.268a6.935,6.935,0,0,1,.793,2.289c1.118,5.095.861,4.795,1.979,9.89Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_37" data-name="Tracé 37" d="M977.221,752.591l-153.8-53.561a10.556,10.556,0,0,1-6.49-13.426L856.9,570.846a7.734,7.734,0,0,1,9.836-4.755l158.994,55.372a7.867,7.867,0,0,1,4.837,10.006L990.647,746.1a10.556,10.556,0,0,1-13.426,6.49Z" transform="translate(-102.5 -101.159)" fill="#e6e6e6"/>
        <path id="Tracé_38" data-name="Tracé 38" d="M836.549,692.435,971.033,739.27a10.225,10.225,0,0,0,13.019-6.293l32.272-92.667a10.225,10.225,0,0,0-6.293-13.019L875.547,580.456a10.225,10.225,0,0,0-13.019,6.293l-32.272,92.667a10.225,10.225,0,0,0,6.293,13.019Z" transform="translate(-102.5 -101.159)" fill="#fff"/>
        <path id="Tracé_39" data-name="Tracé 39" d="M870.32,627.329l-6.66-2.32a1.444,1.444,0,0,1-.888-1.837l2.32-6.66a1.444,1.444,0,0,1,1.837-.888l6.66,2.32a1.444,1.444,0,0,1,.888,1.837l-2.319,6.66A1.444,1.444,0,0,1,870.32,627.329Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_40" data-name="Tracé 40" d="M864.31,644.585l-6.66-2.32a1.444,1.444,0,0,1-.888-1.837l2.32-6.66a1.444,1.444,0,0,1,1.837-.888l6.66,2.32a1.444,1.444,0,0,1,.888,1.837l-2.32,6.66a1.444,1.444,0,0,1-1.837.888Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_41" data-name="Tracé 41" d="M858.3,661.841l-6.66-2.32a1.444,1.444,0,0,1-.888-1.837l2.32-6.66a1.444,1.444,0,0,1,1.837-.888l6.66,2.32a1.444,1.444,0,0,1,.888,1.837l-2.32,6.66A1.444,1.444,0,0,1,858.3,661.841Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_42" data-name="Tracé 42" d="M915.074,639.181l-32.09-11.176a1.443,1.443,0,0,1,.949-2.725l32.09,11.176a1.443,1.443,0,1,1-.949,2.725Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_43" data-name="Tracé 43" d="M909.065,656.437l-32.09-11.176a1.443,1.443,0,0,1,.949-2.725l32.09,11.176a1.443,1.443,0,1,1-.949,2.725Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_44" data-name="Tracé 44" d="M903.055,673.693l-32.09-11.176a1.443,1.443,0,1,1,.949-2.725L904,670.968a1.443,1.443,0,1,1-.949,2.725Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_45" data-name="Tracé 45" d="M988.454,683.043c.234-.561.454-1.131.656-1.712a30.238,30.238,0,0,0-18.611-38.5l-10.548,30.286Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_46" data-name="Tracé 46" d="M956.884,674.959l10.548-30.287a30.239,30.239,0,1,0,17.955,40.213Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_47" data-name="Tracé 47" d="M994.645,631.512a10.056,10.056,0,0,1,10.979-10.826l14.873-32.492,9.841,15.748-15.633,28.441a10.11,10.11,0,0,1-20.061-.87Z" transform="translate(-102.5 -101.159)" fill="#ffb8b8"/>
        <path id="Tracé_48" data-name="Tracé 48" d="M1020.39,620.069a4.506,4.506,0,0,1-2.564-.8l-7.022-4.861a4.515,4.515,0,0,1-1.788-4.852l8.255-31.18-9.979-57.893a14.5,14.5,0,0,1,28.993-.14l8.177,36.123a46.373,46.373,0,0,1-4.456,32.339l-15.655,28.909a4.505,4.505,0,0,1-2.911,2.233A4.449,4.449,0,0,1,1020.39,620.069Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_49" data-name="Tracé 49" d="M1096.5,798.841h-190a1,1,0,0,1,0-2h190a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_50" data-name="Tracé 50" d="M490.541,685.239H502.8l5.832-47.287H490.539Z" fill="#a0616a"/>
        <path id="Tracé_51" data-name="Tracé 51" d="M589.914,782.4h24.145a15.386,15.386,0,0,1,15.387,15.387v.5H589.915Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_52" data-name="Tracé 52" d="M441.541,685.239H453.8l5.832-47.287H441.539Z" fill="#a0616a"/>
        <path id="Tracé_53" data-name="Tracé 53" d="M540.914,782.4h24.145a15.386,15.386,0,0,1,15.387,15.387v.5H540.915Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <circle id="Ellipse_11" data-name="Ellipse 11" cx="24.561" cy="24.561" r="24.561" transform="translate(468.427 308.736)" fill="#a0616a"/>
        <path id="Tracé_54" data-name="Tracé 54" d="M612.005,776.192H589.254a4.5,4.5,0,0,1-4.5-4.555l1.322-108.031a1.5,1.5,0,0,0-2.989-.2l-13.241,108.83a4.5,4.5,0,0,1-4.467,3.956H542.41a4.5,4.5,0,0,1-4.486-4.851l15.167-194.075.412-.045,72.629-7.844L616.5,771.906A4.5,4.5,0,0,1,612.005,776.192Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_55" data-name="Tracé 55" d="M553.976,589.181a4.5,4.5,0,0,1-4.484-4.358c-.4-12.271-1.076-54.732,6.822-85.905a40.924,40.924,0,0,1,37.793-30.839h0A41.179,41.179,0,0,1,634.666,494.1c13.275,33.7,25.818,75.246,10.181,81.762-20.495,8.539-74.523,12.346-90.594,13.309Q554.113,589.181,553.976,589.181Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_56" data-name="Tracé 56" d="M647.847,409.632a10.522,10.522,0,0,0,1.246,1.093l-2.578,49.526-10.724,5.491,6.17,17.268,19.93-7.875a8,8,0,0,0,5.026-8.181l-5.221-56.18a10.5,10.5,0,1,0-13.849-1.143Z" transform="translate(-102.5 -101.159)" fill="#a0616a"/>
        <path id="Tracé_57" data-name="Tracé 57" d="M646.718,462.1l7.544,21.439a4.5,4.5,0,0,1-3.389,5.912l-22.245,4.308a12.5,12.5,0,0,1-8.228-23.6l19.974-10.543a4.5,4.5,0,0,1,6.344,2.486Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_58" data-name="Tracé 58" d="M541.46,409.632a10.53,10.53,0,0,1-1.246,1.093l2.578,49.526,10.724,5.491-6.17,17.268-19.93-7.875a8,8,0,0,1-5.026-8.181l5.221-56.18a10.5,10.5,0,1,1,13.849-1.143Z" transform="translate(-102.5 -101.159)" fill="#a0616a"/>
        <path id="Tracé_59" data-name="Tracé 59" d="M545.192,459.4a4.5,4.5,0,0,1,3.741.21l19.974,10.543a12.5,12.5,0,0,1-8.228,23.6l-22.245-4.308a4.5,4.5,0,0,1-3.389-5.912l7.544-21.439A4.5,4.5,0,0,1,545.192,459.4Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <path id="Tracé_60" data-name="Tracé 60" d="M605.027,438.643a16.143,16.143,0,0,1,9.041-15.168c7.466-3.854,12.156-12.075,10.1-19.582-2.631-9.609-15.709-15.841-26.305-12.535A48.564,48.564,0,0,0,589.6,395.2l-6.923,3.711a71.736,71.736,0,0,0-8.534,5.038,28.315,28.315,0,0,0-11.27,26.53c1.363,9.769,7.761,18.727,16.518,24.861a27.937,27.937,0,0,0,11.319,5.031c4.2.692,8.87-.094,11.939-2.7,4.8-4.079,4.3-10.911,2.75-16.616a12.088,12.088,0,0,1-.373-2.4Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_61" data-name="Tracé 61" d="M688.5,798.841h-190a1,1,0,0,1,0-2h190a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
        <path id="Tracé_62" data-name="Tracé 62" d="M378.41,616.413,221.633,680.73a10.984,10.984,0,0,1-14.315-5.986L159.326,557.76a8.047,8.047,0,0,1,4.386-10.488l162.077-66.492a8.186,8.186,0,0,1,10.669,4.462L384.4,602.1a10.984,10.984,0,0,1-5.986,14.315Z" transform="translate(-102.5 -101.159)" fill="#e6e6e6"/>
        <path id="Tracé_63" data-name="Tracé 63" d="M227.311,666.541,364.4,610.3a10.639,10.639,0,0,0,5.805-13.881l-38.753-94.463a10.639,10.639,0,0,0-13.881-5.805L180.482,552.392a10.639,10.639,0,0,0-5.805,13.881l38.753,94.463a10.639,10.639,0,0,0,13.881,5.8Z" transform="translate(-102.5 -101.159)" fill="#fff"/>
        <rect id="Rectangle_1" data-name="Rectangle 1" width="2.179" height="0.363" transform="translate(226.18 427.384) rotate(-22.306)" fill="#e6e6e6"/>
        <path id="Tracé_64" data-name="Tracé 64" d="M324.747,530.551l-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.143,3.34-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Zm-8.144,3.341-4.072,1.67-.138-.336,4.072-1.67Z" transform="translate(-102.5 -101.159)" fill="#e6e6e6"/>
        <rect id="Rectangle_2" data-name="Rectangle 2" width="2.179" height="0.363" transform="translate(89.798 483.335) rotate(-22.306)" fill="#e6e6e6"/>
        <rect id="Rectangle_3" data-name="Rectangle 3" width="2.179" height="0.363" transform="translate(172.821 485.772) rotate(-22.306)" fill="#e6e6e6"/>
        <path id="Tracé_65" data-name="Tracé 65" d="M271.448,588.915l-4.011,1.646-.138-.336,4.011-1.646Zm-8.023,3.291-4.011,1.646-.138-.336,4.011-1.646ZM255.4,595.5l-4.011,1.646-.138-.336,4.011-1.646Zm-8.023,3.292-4.011,1.646-.138-.336,4.011-1.646Zm-8.023,3.291-4.011,1.646-.138-.336,4.011-1.646Zm-8.023,3.291-4.011,1.646-.138-.336,4.011-1.646Zm-8.023,3.291-4.011,1.646-.138-.336,4.011-1.646Zm-8.023,3.291-4.011,1.646-.138-.336,4.011-1.646Z" transform="translate(-102.5 -101.159)" fill="#e6e6e6"/>
        <rect id="Rectangle_4" data-name="Rectangle 4" width="2.179" height="0.363" transform="translate(102.614 514.576) rotate(-22.306)" fill="#e6e6e6"/>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="2.179" height="0.363" transform="translate(139.583 516.677) rotate(-22.306)" fill="#e6e6e6"/>
        <path id="Tracé_66" data-name="Tracé 66" d="M238.093,619.867l-4.127,1.693-.138-.336,4.127-1.693Zm-8.254,3.386-4.127,1.693-.138-.336,4.127-1.693Zm-8.254,3.386-4.127,1.693L217.32,628l4.127-1.693Z" transform="translate(-102.5 -101.159)" fill="#e6e6e6"/>
        <rect id="Rectangle_6" data-name="Rectangle 6" width="2.179" height="0.363" transform="translate(108.678 529.355) rotate(-22.306)" fill="#e6e6e6"/>
        <rect id="Rectangle_7" data-name="Rectangle 7" width="2.179" height="0.363" transform="translate(149.93 541.901) rotate(-22.306)" fill="#e6e6e6"/>
        <path id="Tracé_67" data-name="Tracé 67" d="M248.441,645.09l-4.127,1.693-.138-.336,4.127-1.693Zm-8.254,3.386-4.127,1.693-.138-.336,4.127-1.693Zm-8.254,3.386-4.127,1.693-.138-.336,4.127-1.693Z" transform="translate(-102.5 -101.159)" fill="#e6e6e6"/>
        <rect id="Rectangle_8" data-name="Rectangle 8" width="2.179" height="0.363" transform="translate(119.026 554.579) rotate(-22.306)" fill="#e6e6e6"/>
        <path id="Tracé_68" data-name="Tracé 68" d="M233.132,651.671l116.175-47.66a11.481,11.481,0,0,0,6.257-14.963l-23.472-57.215-.227.1L303.356,600.1l-21.145-8.84a2.742,2.742,0,0,0-2.435.152,2.922,2.922,0,0,0-1.212,1.433l-14.941,35.722-15.46-6.462a2.753,2.753,0,0,0-3.6,1.478C244.461,623.825,234.928,647.213,233.132,651.671Z" transform="translate(-102.5 -101.159)" fill="#6c63ff"/>
        <path id="Tracé_69" data-name="Tracé 69" d="M232.775,652.21l-.335-.14,11.955-28.586a3.089,3.089,0,0,1,4.038-1.657l15.154,6.338,14.856-35.525a3.089,3.089,0,0,1,4.038-1.657l20.839,8.715,28.656-68.523.335.14-28.8,68.859-21.174-8.855a2.723,2.723,0,0,0-3.563,1.462l-15,35.86-15.489-6.478a2.726,2.726,0,0,0-3.563,1.462Z" transform="translate(-102.5 -101.159)" fill="#3f3d56"/>
        <circle id="Ellipse_12" data-name="Ellipse 12" cx="2.542" cy="2.542" r="2.542" transform="translate(139.125 513.477)" fill="#3f3d56"/>
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="2.542" cy="2.542" r="2.542" transform="translate(172.364 482.573)" fill="#3f3d56"/>
        <circle id="Ellipse_14" data-name="Ellipse 14" cx="2.542" cy="2.542" r="2.542" transform="translate(224.12 424.094)" fill="#3f3d56"/>
        <path id="Tracé_70" data-name="Tracé 70" d="M186.9,614.295a10.095,10.095,0,0,0,3.61-15.053l7.549-73.8H181.746l-6,72.066A10.15,10.15,0,0,0,186.9,614.295Z" transform="translate(-102.5 -101.159)" fill="#ffb8b8"/>
        <circle id="Ellipse_15" data-name="Ellipse 15" cx="23.08" cy="23.08" r="23.08" transform="translate(76.299 337.388)" fill="#ffb8b8"/>
        <path id="Tracé_71" data-name="Tracé 71" d="M206.225,568.419a4.221,4.221,0,0,1-4.068-3.1c-1.849-6.718-6.66-18.077-14.3-33.763a27.967,27.967,0,0,1,15.882-38.613h0a27.955,27.955,0,0,1,35.922,17.808c5.921,18.563,5.635,38.447,5.237,46.133a4.239,4.239,0,0,1-3.321,3.914l-34.446,7.522a4.207,4.207,0,0,1-.907.1Z" transform="translate(-102.5 -101.159)" fill="#ff6584"/>
        <path id="Tracé_72" data-name="Tracé 72" d="M137.082,686.425H148.6l5.481-44.437h-17Z" fill="#ffb8b8"/>
        <path id="Tracé_73" data-name="Tracé 73" d="M237.113,784.293h36.208v13.989H251.1a13.989,13.989,0,0,1-13.989-13.989h0Z" transform="translate(407.97 1481.403) rotate(179.997)" fill="#2f2e41"/>
        <path id="Tracé_74" data-name="Tracé 74" d="M21.882,671.495l10.1,5.55,26.212-36.3-14.9-8.192Z" fill="#ffb8b8"/>
        <path id="Tracé_75" data-name="Tracé 75" d="M118.2,776.437H154.4v13.989H132.185A13.989,13.989,0,0,1,118.2,776.437h0Z" transform="translate(-224.194 1434.457) rotate(-151.199)" fill="#2f2e41"/>
        <path id="Tracé_76" data-name="Tracé 76" d="M239.044,762.92a4.228,4.228,0,0,1-4.189-3.685L220.446,648.211a2.349,2.349,0,0,0-4.387-.832l-60.045,108.94a4.252,4.252,0,0,1-5.209,1.911l-13.089-4.986a4.228,4.228,0,0,1-2.411-5.545l41.6-102.181a3.259,3.259,0,0,0,.212-.809c5.634-43.605,19.968-65.78,24.227-71.538a3.275,3.275,0,0,0,.466-2.982l-.585-1.756a4.226,4.226,0,0,1,.814-4.113c15.347-17.48,42.1-7.942,42.364-7.843l.134.05.084.115c29.993,41.133,18.9,174.732,16.376,201.1a4.217,4.217,0,0,1-3.885,3.806l-17.736,1.366C239.262,762.917,239.152,762.92,239.044,762.92Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_77" data-name="Tracé 77" d="M291.606,488.437a9.891,9.891,0,0,0-.225,1.541l-40.367,23.288-9.812-5.648-10.46,13.694L247.14,533a7.518,7.518,0,0,0,9.019-.22l41.625-32.839a9.864,9.864,0,1,0-6.179-11.5Z" transform="translate(-102.5 -101.159)" fill="#ffb8b8"/>
        <path id="Tracé_78" data-name="Tracé 78" d="M249.665,514.369l-13.047,16.909a4.229,4.229,0,0,1-6.394.35l-14.77-15.337a11.744,11.744,0,0,1,14.4-18.554L248.382,508.1a4.229,4.229,0,0,1,1.283,6.273Z" transform="translate(-102.5 -101.159)" fill="#ff6584"/>
        <path id="Tracé_79" data-name="Tracé 79" d="M199.1,543.746l-21.017-3.795a4.229,4.229,0,0,1-3.255-5.514l6.813-20.173a11.744,11.744,0,1,1,23.1,4.241l-.665,21.213a4.229,4.229,0,0,1-4.978,4.028Z" transform="translate(-102.5 -101.159)" fill="#ff6584"/>
        <path id="Tracé_80" data-name="Tracé 80" d="M205.533,456.318c5.932,4.06,13.721,8.233,19.78,3.91a11.025,11.025,0,0,0,3.618-12.709c-2.9-8.3-10.872-11.949-18.494-14.748-9.909-3.64-20.7-6.535-30.927-3.928s-19.269,12.51-17.423,22.9c1.485,8.358,9.369,15.312,8.25,23.727-1.126,8.469-10.65,12.926-19.059,14.44s-17.817,2-23.86,8.039c-7.708,7.7-5.784,21.475,1.47,29.61s18.2,11.822,28.805,14.328c14.053,3.321,29.252,5.067,42.6-.445s23.733-20.349,19.867-34.261c-1.633-5.877-5.48-10.843-9.2-15.678s-7.483-9.891-8.9-15.823c-1.182-4.944-.307-10.683,2.971-14.391a4.169,4.169,0,0,0,.559-4.874Z" transform="translate(-102.5 -101.159)" fill="#2f2e41"/>
        <path id="Tracé_81" data-name="Tracé 81" d="M293.5,798.841h-190a1,1,0,0,1,0-2h190a1,1,0,0,1,0,2Z" transform="translate(-102.5 -101.159)" fill="#ccc"/>
         </g></svg>
      </div>
      <div class="text-center mt-5"><h5>Access the right <strong class="highlight">data</strong> for the right purpose</h5></div>
    </div>

    <div class="col-3">
      <div class="text-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 769.412 524.375">
        <g id="undraw_Business_decisions_re_84ag" transform="translate(0)">
        <circle id="Ellipse_16" data-name="Ellipse 16" cx="6.813" cy="6.813" r="6.813" transform="translate(167.944 0)" fill="#e6e6e6"/>
        <circle id="Ellipse_17" data-name="Ellipse 17" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 0)" fill="#e6e6e6"/>
        <circle id="Ellipse_18" data-name="Ellipse 18" cx="6.813" cy="6.813" r="6.813" transform="translate(236.922 0)" fill="#e6e6e6"/>
        <circle id="Ellipse_19" data-name="Ellipse 19" cx="6.813" cy="6.813" r="6.813" transform="translate(271.411 0)" fill="#e6e6e6"/>
        <circle id="Ellipse_20" data-name="Ellipse 20" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 0)" fill="#e6e6e6"/>
        <circle id="Ellipse_21" data-name="Ellipse 21" cx="6.813" cy="6.813" r="6.813" transform="translate(167.944 34.922)" fill="#e6e6e6"/>
        <circle id="Ellipse_22" data-name="Ellipse 22" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 34.922)" fill="#e6e6e6"/>
        <circle id="Ellipse_23" data-name="Ellipse 23" cx="6.813" cy="6.813" r="6.813" transform="translate(236.922 34.922)" fill="#e6e6e6"/>
        <circle id="Ellipse_24" data-name="Ellipse 24" cx="6.813" cy="6.813" r="6.813" transform="translate(271.411 34.922)" fill="#6c63ff"/>
        <circle id="Ellipse_25" data-name="Ellipse 25" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 34.922)" fill="#e6e6e6"/>
        <circle id="Ellipse_26" data-name="Ellipse 26" cx="6.813" cy="6.813" r="6.813" transform="translate(374.878 34.922)" fill="#e6e6e6"/>
        <circle id="Ellipse_27" data-name="Ellipse 27" cx="6.813" cy="6.813" r="6.813" transform="translate(167.944 69.844)" fill="#e6e6e6"/>
        <circle id="Ellipse_28" data-name="Ellipse 28" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 69.844)" fill="#e6e6e6"/>
        <circle id="Ellipse_29" data-name="Ellipse 29" cx="6.813" cy="6.813" r="6.813" transform="translate(236.922 69.844)" fill="#e6e6e6"/>
        <circle id="Ellipse_30" data-name="Ellipse 30" cx="6.813" cy="6.813" r="6.813" transform="translate(271.411 69.844)" fill="#e6e6e6"/>
        <circle id="Ellipse_31" data-name="Ellipse 31" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 69.844)" fill="#e6e6e6"/>
        <circle id="Ellipse_32" data-name="Ellipse 32" cx="6.813" cy="6.813" r="6.813" transform="translate(167.944 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_33" data-name="Ellipse 33" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_34" data-name="Ellipse 34" cx="6.813" cy="6.813" r="6.813" transform="translate(236.922 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_35" data-name="Ellipse 35" cx="6.813" cy="6.813" r="6.813" transform="translate(271.411 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_36" data-name="Ellipse 36" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_37" data-name="Ellipse 37" cx="6.813" cy="6.813" r="6.813" transform="translate(340.389 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_38" data-name="Ellipse 38" cx="6.813" cy="6.813" r="6.813" transform="translate(374.878 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_39" data-name="Ellipse 39" cx="6.813" cy="6.813" r="6.813" transform="translate(409.367 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_40" data-name="Ellipse 40" cx="6.813" cy="6.813" r="6.813" transform="translate(443.856 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_41" data-name="Ellipse 41" cx="6.813" cy="6.813" r="6.813" transform="translate(478.345 104.766)" fill="#e6e6e6"/>
        <circle id="Ellipse_42" data-name="Ellipse 42" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 139.688)" fill="#e6e6e6"/>
        <circle id="Ellipse_43" data-name="Ellipse 43" cx="6.813" cy="6.813" r="6.813" transform="translate(340.389 139.688)" fill="#6c63ff"/>
        <circle id="Ellipse_44" data-name="Ellipse 44" cx="6.813" cy="6.813" r="6.813" transform="translate(374.878 139.688)" fill="#e6e6e6"/>
        <circle id="Ellipse_45" data-name="Ellipse 45" cx="6.813" cy="6.813" r="6.813" transform="translate(409.367 139.688)" fill="#e6e6e6"/>
        <circle id="Ellipse_46" data-name="Ellipse 46" cx="6.813" cy="6.813" r="6.813" transform="translate(443.856 139.688)" fill="#e6e6e6"/>
        <circle id="Ellipse_47" data-name="Ellipse 47" cx="6.813" cy="6.813" r="6.813" transform="translate(478.345 139.688)" fill="#e6e6e6"/>
        <circle id="Ellipse_48" data-name="Ellipse 48" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 174.61)" fill="#e6e6e6"/>
        <circle id="Ellipse_49" data-name="Ellipse 49" cx="6.813" cy="6.813" r="6.813" transform="translate(340.389 174.61)" fill="#e6e6e6"/>
        <circle id="Ellipse_50" data-name="Ellipse 50" cx="6.813" cy="6.813" r="6.813" transform="translate(374.878 174.61)" fill="#e6e6e6"/>
        <circle id="Ellipse_51" data-name="Ellipse 51" cx="6.813" cy="6.813" r="6.813" transform="translate(409.367 174.61)" fill="#e6e6e6"/>
        <circle id="Ellipse_52" data-name="Ellipse 52" cx="6.813" cy="6.813" r="6.813" transform="translate(443.856 174.61)" fill="#6c63ff"/>
        <circle id="Ellipse_53" data-name="Ellipse 53" cx="6.813" cy="6.813" r="6.813" transform="translate(478.345 174.61)" fill="#e6e6e6"/>
        <circle id="Ellipse_54" data-name="Ellipse 54" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 209.532)" fill="#e6e6e6"/>
        <circle id="Ellipse_55" data-name="Ellipse 55" cx="6.813" cy="6.813" r="6.813" transform="translate(340.389 209.532)" fill="#e6e6e6"/>
        <circle id="Ellipse_56" data-name="Ellipse 56" cx="6.813" cy="6.813" r="6.813" transform="translate(374.878 209.532)" fill="#e6e6e6"/>
        <circle id="Ellipse_57" data-name="Ellipse 57" cx="6.813" cy="6.813" r="6.813" transform="translate(409.367 209.532)" fill="#e6e6e6"/>
        <circle id="Ellipse_58" data-name="Ellipse 58" cx="6.813" cy="6.813" r="6.813" transform="translate(443.856 209.532)" fill="#e6e6e6"/>
        <circle id="Ellipse_59" data-name="Ellipse 59" cx="6.813" cy="6.813" r="6.813" transform="translate(478.345 209.532)" fill="#e6e6e6"/>
        <circle id="Ellipse_60" data-name="Ellipse 60" cx="6.813" cy="6.813" r="6.813" transform="translate(167.944 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_61" data-name="Ellipse 61" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_62" data-name="Ellipse 62" cx="6.813" cy="6.813" r="6.813" transform="translate(236.922 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_63" data-name="Ellipse 63" cx="6.813" cy="6.813" r="6.813" transform="translate(271.411 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_64" data-name="Ellipse 64" cx="6.813" cy="6.813" r="6.813" transform="translate(305.9 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_65" data-name="Ellipse 65" cx="6.813" cy="6.813" r="6.813" transform="translate(340.389 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_66" data-name="Ellipse 66" cx="6.813" cy="6.813" r="6.813" transform="translate(374.878 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_67" data-name="Ellipse 67" cx="6.813" cy="6.813" r="6.813" transform="translate(409.367 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_68" data-name="Ellipse 68" cx="6.813" cy="6.813" r="6.813" transform="translate(443.856 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_69" data-name="Ellipse 69" cx="6.813" cy="6.813" r="6.813" transform="translate(478.345 244.454)" fill="#e6e6e6"/>
        <circle id="Ellipse_70" data-name="Ellipse 70" cx="6.813" cy="6.813" r="6.813" transform="translate(167.94 279.375)" fill="#e6e6e6"/>
        <circle id="Ellipse_71" data-name="Ellipse 71" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 279.376)" fill="#e6e6e6"/>
        <circle id="Ellipse_72" data-name="Ellipse 72" cx="6.813" cy="6.813" r="6.813" transform="translate(167.94 314.297)" fill="#e6e6e6"/>
        <circle id="Ellipse_73" data-name="Ellipse 73" cx="6.813" cy="6.813" r="6.813" transform="translate(202.433 314.298)" fill="#e6e6e6"/>
        <circle id="Ellipse_74" data-name="Ellipse 74" cx="6.813" cy="6.813" r="6.813" transform="translate(271.411 314.298)" fill="#e6e6e6"/>
        <path id="Tracé_82" data-name="Tracé 82" d="M837.295,268.2h-270a5.006,5.006,0,0,1-5-5V196.221a5.006,5.006,0,0,1,5-5h270a5.006,5.006,0,0,1,5,5V263.2A5.006,5.006,0,0,1,837.295,268.2Zm-270-74.976a3,3,0,0,0-3,3V263.2a3,3,0,0,0,3,3h270a3,3,0,0,0,3-3V196.221a3,3,0,0,0-3-3Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <circle id="Ellipse_75" data-name="Ellipse 75" cx="21" cy="21" r="21" transform="translate(366 20.896)" fill="#6c63ff"/>
        <path id="Tracé_83" data-name="Tracé 83" d="M650.794,215.708a3.5,3.5,0,0,0,0,7h93a3.5,3.5,0,1,0,0-7Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_84" data-name="Tracé 84" d="M650.794,236.708a3.5,3.5,0,0,0,0,7h165a3.5,3.5,0,1,0,0-7Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_85" data-name="Tracé 85" d="M490.3,404.2h-270a5.006,5.006,0,0,1-5-5V332.221a5.006,5.006,0,0,1,5-5h270a5.006,5.006,0,0,1,5,5V399.2A5.006,5.006,0,0,1,490.3,404.2Zm-270-74.976a3,3,0,0,0-3,3V399.2a3,3,0,0,0,3,3h270a3,3,0,0,0,3-3V332.221a3,3,0,0,0-3-3Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <circle id="Ellipse_76" data-name="Ellipse 76" cx="21" cy="21" r="21" transform="translate(19 156.896)" fill="#6c63ff"/>
        <path id="Tracé_86" data-name="Tracé 86" d="M303.794,351.708a3.5,3.5,0,0,0,0,7h97a3.5,3.5,0,1,0,0-7Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_87" data-name="Tracé 87" d="M303.794,372.708a3.5,3.5,0,0,0,0,7h165a3.5,3.5,0,0,0,0-7Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_88" data-name="Tracé 88" d="M734.295,551.2h-270a5.006,5.006,0,0,1-5-5V479.221a5.006,5.006,0,0,1,5-5h270a5.006,5.006,0,0,1,5,5V546.2a5.006,5.006,0,0,1-5,5Zm-270-74.976a3,3,0,0,0-3,3V546.2a3,3,0,0,0,3,3h270a3,3,0,0,0,3-3V479.221a3,3,0,0,0-3-3Z" transform="translate(-215.294 -187.813)" fill="#3f3d56"/>
        <circle id="Ellipse_77" data-name="Ellipse 77" cx="21" cy="21" r="21" transform="translate(263 303.896)" fill="#6c63ff"/>
        <path id="Tracé_89" data-name="Tracé 89" d="M547.794,498.708a3.5,3.5,0,0,0,0,7h89a3.5,3.5,0,0,0,0-7Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_90" data-name="Tracé 90" d="M547.794,519.708a3.5,3.5,0,0,0,0,7h165a3.5,3.5,0,1,0,0-7Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_91" data-name="Tracé 91" d="M879.544,534.211c-11.726,35.177-59.695-2.132-59.695-2.132l12.792-133.247c19.188-14.924,39.441-2.132,39.441-2.132Z" transform="translate(-215.294 -187.813)" fill="#e6e6e6"/>
        <path id="Tracé_92" data-name="Tracé 92" d="M661.731,464.458l16.345.172-4.083,47.115h-12.26Z" fill="#ffb8b8"/>
        <path id="Tracé_93" data-name="Tracé 93" d="M873.9,695.555h24.144a15.4,15.4,0,0,1,15.387,15.387v.5H873.9Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_94" data-name="Tracé 94" d="M617.421,464.458H599.327l5.832,47.288h12.26Z" fill="#ffb8b8"/>
        <path id="Tracé_95" data-name="Tracé 95" d="M796.309,711.441v-.5A15.387,15.387,0,0,1,811.7,695.555H835.84v15.887Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_96" data-name="Tracé 96" d="M875.922,691.4,854.509,566.573l-19.84,123.214-20.1,1.117-5.36-165.086.4-.09c3.323-.744,81.537-17.923,94.359,6.652l.065.125-10.7,159.454Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <circle id="Ellipse_78" data-name="Ellipse 78" cx="24.561" cy="24.561" r="24.561" transform="translate(613.373 146.282)" fill="#ffb8b8"/>
        <path id="Tracé_97" data-name="Tracé 97" d="M873.862,544.737c-2.879-.8-4.954-4.1-6.529-10.405-.272-1.086-25.772-109.711-4.207-129.392l4.971-13.808,6.8,4.535c2.407.022,27.021.646,29.124,16.423,2.059,15.443,7.666,118.913,2.03,125.349a1.219,1.219,0,0,1-.927.469c-5.711,0-7.444-6.336-7.851-8.356-1.358.563-5.4,2.629-12.049,9.275-4.117,4.117-7.345,6.09-10.012,6.09a5.037,5.037,0,0,1-1.353-.181Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_98" data-name="Tracé 98" d="M820.561,538.828c-6.648-6.648-10.693-8.714-12.049-9.275-.407,2.02-2.141,8.356-7.852,8.356a1.219,1.219,0,0,1-.927-.469c-5.634-6.436-.029-109.9,2.03-125.349,2.1-15.777,26.718-16.4,29.125-16.423l6.8-4.535,4.971,13.808c21.564,19.679-3.935,128.3-4.207,129.392-1.575,6.3-3.65,9.608-6.529,10.405a5.034,5.034,0,0,1-1.353.181C827.907,544.918,824.678,542.945,820.561,538.828Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_99" data-name="Tracé 99" d="M873.506,372.685a25.2,25.2,0,0,0-12.208-45.54c-2.261-.226-4.7-.193-6.571-1.477-1.665-1.141-2.562-3.119-4.093-4.436a8.929,8.929,0,0,0-6.926-1.746,25.061,25.061,0,0,0-6.963,2.288c-5.446,2.428-11.235,5.417-13.714,10.84-2.147,4.7-1.2,10.491,1.84,14.667a20.41,20.41,0,0,0,13.016,7.686,32.535,32.535,0,0,0,15.285-1.376c3.242-1.02,6.442-2.41,9.838-2.523a13.369,13.369,0,0,1,10.145,22.564" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_100" data-name="Tracé 100" d="M739.636,518.794a10.8,10.8,0,0,0,10.548-11.048l14.323-24.166L753.44,473.434l-15.088,23.81a10.8,10.8,0,0,0,1.283,21.55Z" transform="translate(-215.294 -187.813)" fill="#ffb8b8"/>
        <path id="Tracé_101" data-name="Tracé 101" d="M905.808,545.269a10.8,10.8,0,0,0,3.15-14.947l-.548-28.087-14.751-2.8-.289,28.187a10.8,10.8,0,0,0,12.438,17.645Z" transform="translate(-215.294 -187.813)" fill="#ffb8b8"/>
        <path id="Tracé_102" data-name="Tracé 102" d="M743.993,479.936l-.167-.265.165-.266c21.484-34.5,66.579-77.593,67.032-78.025l.143-.136,5.57-.057,6.021,15c-1.875,3.606-52.4,74.11-59.067,78.786a4.6,4.6,0,0,1-3.685.694,9.7,9.7,0,0,1-3.125-1.33C750.725,490.524,744.308,480.435,743.993,479.936Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_103" data-name="Tracé 103" d="M890.852,519.3a4.571,4.571,0,0,1-2.707-2.484c-3.216-7.5,10.569-102.3,11.158-106.334l.111-.763,4.66,2.953.046.2c.138.605,13.713,61,10.033,101.126l-.026.287-.261.121c-.561.26-11.868,5.453-19.4,5.453A10.191,10.191,0,0,1,890.852,519.3Z" transform="translate(-215.294 -187.813)" fill="#2f2e41"/>
        <path id="Tracé_104" data-name="Tracé 104" d="M983.706,712.187h-266a1,1,0,0,1,0-2h266a1,1,0,0,1,0,2Z" transform="translate(-215.294 -187.813)" fill="#3f3d56"/>
        </g></svg>
      </div>
      <div class="text-center mt-5"><h5>Make<strong class="highlight"> infomed decisions</strong> on facts and data</h5></div>
    </div>
  </div>
</div>


<div class="fec-presentation mt-4">
  <div class="fec-presentation-title"> 
    <div class="title-presentation mb-4">
    <h2>More than <strong class="highlight">+12 000</strong> FEC Analysed !</h2>
    </div>

    <div class="row m-2">
      <div class="col-2">
        <h4>Startups</h4>
      </div>
      <div class="col-2">
        <h4>Retail</h4>
      </div>
      <div class="col-2">
        <h4>Café</h4>
      </div>
      <div class="col-2">
        <h4>Freelance</h4>
      </div>
      <div class="col-2">
        <h4>Lawyers</h4>
      </div>
      <div class="col-2">
        <h4>Business owners</h4>
      </div>
    </div>
  </div>
</div>

<div class="title">
  <h1>How it works</h1>
</div>

<div class="container">
  <div class="cards">  
    <div class="card">
      <img src="" alt="">
      <h4><strong class="highlight">1 - Get a Fec</strong></h4>
      <p>Download a FEC from your accounting software or ask your accountant ! </p>
    </div>  
    <div class="card">
      <img src="" alt="">
      <h4>2 - Upload it on DeciDesk</h4>
      <p>Upload the file on your DeciDesck account !</p>
    </div>  
    <div class="card">
      <img src="" alt="">
      <h4>3 - Let us do the magic</h4>
      <p>Consult the results of the analysis on your dashboard !</p>
    </div>  
  </div>
</div>


<div>
  <div class="title ">
    <h1>Don't wait and ask for a demo !</h1>
  </div>
  <center>
  <a class="btn btn-bleu" href="#">Ask for a demo now</a>
  </center>
</div>

<div>
  <%= render 'shared/footer' %>
</div>









