.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-top: 12px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-nav {
  color: #1F008C;
  padding: 8px 24px;
  border-radius: 4px;
  background: #04C586;
  transition: background 0.3s ease;
  text-align: center;
  font-size: large;
}

.btn-nav:hover {
  background: #02a36d;
  color:  #1F008C;
}

.btn-bleu {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1F008C;
  transition: background 0.3s ease;
  margin-top: 12px;
}

.btn-bleu:hover {
  background: #1BCB7F;
  color: white;
}

.btn-small {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: #1F008C;
  transition: background 0.3s ease;
}

.btn-small:hover {
  background: #1BCB7F;
  color: white;
}