.btn-flat {
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
  margin-top: 12px;
}

.btn-flat:hover {
  background: $blue;
  color: $green;
  border: solid 1px white;
}

.btn-flat-search{
  height: calc(1.5em + 0.75rem + 2px);
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
  margin-top: 12px;
}


.btn-nav {
  color: #1F008C;
  padding: 8px 24px;
  border-radius: 4px;
  background: #04C586;
  transition: background 0.3s ease;
  text-align: center;
  font-size: large;
}

.btn-nav:hover {
  background: #02a36d;
  color:  #1F008C;
}

.btn-bleu {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  margin-top: 12px;
}

.btn-bleu:hover {
  background: #1BCB7F;
  border-color: #1BCB7F;
}

.btn-small {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-small:hover {
  background: #1BCB7F;
  color: white;
}

.file-input{
  margin-top: 10px;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  background: lightgray;
}
