.container-title {
  margin-left: 250px;
}

.container-index {
  margin-top: 100px;
}

.card-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards-page {
    empty-cells: show;
    background-position: center;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 40px;
    padding: 18px;
    padding-left: 12px;
    text-align: center;
  }

  .ratio-card {
    empty-cells: show;
    background-position: center;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: $light-gray;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border: solid 2px $blue;
    padding: 18px;
    padding-left: 12px;
  }

.card-page h4{
  color: black;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-page h2{
  text-align: center;
  align-items: center;
}

.card-page h5{
  text-align: center;
  align-items: center;
  color: black;
}

.card-page p{
  text-align: center;
  align-items: center;
  color: black;
  font-size: 15px;
}

.main-title {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.show-report-title {
  margin-bottom: 50px;
}

.sub-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.page-title {
  color: $blue;
  margin-top: 30px;
  text-align: center;
}

#table-right {
  margin-top: 50px; 
}

#cash-stats {
  margin-top: 140px; 
}

.four-cards {
  margin-top: 45px;
}