.container-title {
  margin-left: 200px;
}

.card-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards-page {empty-cells: show;
    background-position: center;
    height: 220px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 8px;
    padding-left: 12px;
  }

.card-page h4{
  color: black
}

.card-page h2{
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.card-page h5{
  text-align: center;
  align-items: center;
  color: black;
}