.navbar-lewagon {
  justify-content: space-between;
  background: #0C2556;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar {
  position: fixed;
  width: 100%;
}

.margin-nav {
  margin-top: 74px
}

.navbar-title {
  color: $light-gray;

}
