.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(200, 198, 198, 0.92);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.margin-nav {
  margin-top: 74px
}

.navbar-title {
  color: $light-gray;
}

.nav-item {
  color: $light-gray;
  margin-left: 20px;
  text-decoration: none;
}

.nav-item:hover {
  color: $green;
}
