.navbar-lewagon {
  justify-content: space-between;
  background-color: #0C2556;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.margin-nav {
  margin-top: 74px
}

.navbar-title {
  color: $light-gray;
}

.nav-item {
  color: $light-gray;
  margin-left: 40px;
  text-decoration: none;
}

#dash-tab a {
  color: $light-gray;
  text-decoration: none;
  text-align: center;
}

#dash-tab:hover {
  border-bottom: solid 5px $green;
}