// For the Dash navbar (item / adive / notes)
.dash-nav {
  margin-top: 0px;
  margin-left: 200px;
  width: 100%;
  background: #04C586;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: solid 1px #1F008C;
  margin-bottom: 20px;
}

.dash-nav p{
  margin-right: 110px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: $blue;
}

// Card for the graph
// .card-graph {
//   // display: flex;
//   // width: 700px;
//   // height: 350px;
//   // top: 180px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   margin: 20px;
// }

//Card for the table

.card-dash {
  background-color: white;
  border-radius: 5px;
  color: $black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px 10px;
  padding: 20px;
}

.card-dash h4{
  font-size: 1rem;
}

.card-table p{
  color: black;
  font-size: small;
  text-align: center;
  margin-top: 10px;
}

.card-table th{
  color: black;
  font-size: small;
  text-align: center;
  margin-top: 10px;
}

//Table design

.divTable
{
  display: table;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  border-spacing:1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.divTableAll
{
  display: table;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  border-spacing:1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}



.divRow
{
  display: table-row;
  display: felx;
  justify-content: around;
  width: 100%;
  text-align: center;
  border-bottom: dashed 1px $blue;
}

.divCell {
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:150px;
  background-color:rgb(255, 255, 255);
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
