.sidenav {
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $blue;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav-links {
  margin-top: 50px;
}

.nav-links a{
    padding: 6px 10px 6px 20px;
    text-decoration: none;
    font-size: 15px !important;
    color: $light-gray;
    display: block;
    transition: background 0.3s ease;
    font-family: 'Lato', sans-serif;
  }

  .sidenav a:hover {
    background-color: #102E69;
  }

  .sidenav img {
    height: 35px;
    width: auto;
    text-align: center;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    background: transparent;
}

.user {
  font-size: 15px;
  color: $green;
  text-align: center;
  margin-top: 15px;
}

  .main-side {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.separator {
  margin-top: 50px;
}
