
.main-tabs {
  margin-top: 0px;
  border-bottom: solid 1px #0C2556;
  background-color: white;
  padding: 15px;
  width: 85vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3000;
}

.tab-title {
  text-align: left;
  margin-left: 60px
}


.tabs {
  display: flex;
  justify-content: flex-end;
}

.tab {
  cursor: pointer;
  padding: 5px 20px;
  color: $blue;
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
}

.tab:hover {
  border-bottom: solid 5px $blue;
}

.active {
  border-bottom: solid 5px $green;
}

.tab a {
  text-decoration: none;
}
