
.main-tabs {
  border-bottom: solid 1px $blue;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(200, 198, 198, 0.92);
  height: 76px;
}

.tab-title {
  text-align: left;
  margin-left: 60px
}


.tabs {
  display: flex;
  justify-content: space-around;
}

.tab {
  cursor: pointer;
  padding: 5px 20px;
  color: $blue;
  font-size: 15px;
}

.tab:hover {
  border-bottom: solid 5px $blue;
}

.active {
  border-bottom: solid 5px $green;
  font-weight: bold;
}

.tab a {
  text-decoration: none;
}
