.ml200 {
  margin-left: 15vw;
}

.ml50 {
  margin-left: 50px;
}

.mb40 {
  margin-bottom: 40px;
}

.pt76 {
  padding-top: 76px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.dd-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
}

.pr-10 {
  padding-right: 10px;
}

.mt60 {
  margin-top: 60px;
}

.pr-40 {
  padding-right: 40px;
}

.mt100 {
  margin-top: 100px;
}

.mw {
  width: 250px;
}

.mt-60 {
  margin-top: 60px;
}

.mw1110{
  max-width: 1110px;
}

.h289{
  height: 289px;
}

.h200{
  height: 200px;
}

.card-table{
  overflow: hidden;
}

.w200{
  width: 200px;
}


.mb-84{
  margin-bottom: 84px;
}

.m0 {
  margin: 0px;
}

.pd-4 {
  padding-bottom: 20px;
}

.pd100 {
  padding-bottom: 100px;
}

.vh-70 {
  height: 70vh;
}

.pt-10 {
  padding-top: 10px;
}

.h-523 {
  height: 523.519px;
}