.ml200{
  margin-left: 200px;
}

.ml50{
  margin-left: 50px;
}

.mb40{
  margin-bottom: 40px;
}

.pt76 {
  padding-top: 76px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.dd-title{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
}

.pr-10{
  padding-right: 10px;
}

.pr-40{
  padding-right: 40px
}

.pt76 {
  padding-top: 76px;
}
