<%= render 'shared/side-nav' %>
<%= render 'shared/tabs', section: :treasury %>

<div class="container ml200 pt76">

  <div class="row d-flex justify-content-center mb-5 mt-5">
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">
    </div>

    <div class="col-lg-7 card-dash">
    </div>


    </div>
  </div>

        <div class="divTable">
         <div class="d-flex justify-content-around"> How's your cash on the period ? </div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>
      </div>
    </div>
  </div>

    <div class="row d-flex justify-content-around">

       <div class="divTable">
         <div class="d-flex justify-content-around"> Top 5 - CashIn 👍</div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Item</strong></div>
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

     
      </div>

      <div class="divTable">
        <div class="d-flex justify-content-around"> Top 5 - CashOut 👎 </div>
          <div class="DivRow d-flex justify-content-around">
            <div  class="divCell"><strong class="highlight">Item</strong></div>
            <div  class="divCell"><strong class="highlight">Date</strong></div>
            <div  class="divCell"><strong class="highlight">Amount</strong></div>
          </div>
      </div>

    </div>
    
</div>