<%= render 'shared/navbar' %>

<div class="container">
  <div class="container-index">

    <h1 class="main-title"><strong class="highlight">Hey !</strong></h1>
    <h3 class="sub-title">Upload a new file </h3>

    <div class="card-page">
      <div class="col-lg-12 cards-page">
        <h4 class="text-center"><strong class="highlight">New file</strong></h4>
        <div class="text-center">
          <%= render 'reports/form' %>      
      </div>
    </div>
  </div>
</div>

<p><%= link_to "Back", reports_path%></p>
