<div>
  <%= current_user.email %>
  <%= current_user.lines.count %>
  <% if @reports %>
    <p>You have <%= current_user.reports.count %> FEC uploaded already !</p>
  <% else %>
    <p>You have not imported any FEC yet !</p>
  <% end %>
</div>
